{% extends 'megashop/base.html' %}
{% load static %}
{% block content %}
	<div><h1>Join our daily raffles</h1></div>
	<div class="row">
		{% for product in products %}
			<div class="col-lg-4">
				<img class="thumbnail" src="{% static 'images/placeholder.png' %}">
				<div class="box-element product">
					<h6><strong>{{ product.name }}</strong></h6>
					<hr>

					<form method='post' action="{% url 'add_to_basket' product_id=product.id %}">
						{% csrf_token %}
						{{ form }}
						<button type="submit" class="btn btn-outline-secondary add-btn">Add to cart</button>
					</form>
					<butoon class="btn btn-outline-success" href="#">View</button>
					<h4 style="display:inline-block"><strong>{{ product.price }}</strong></h4>
				</div>
				<a class="btn btn-outline-secondary" href="{% url 'edit_product' product_id=product.id %}">Edit</a>
				<form method="post" action="{% url 'delete_product' product_id=product.id %}" onsubmit="return confirm('are you sure you want to delete {{product.name}}?')">
					{% csrf_token %}
					<button class="btn btn-danger" type="submit">Delete</button>
				</form>
			</div>
		{% endfor %}
		<a href="{% url 'add_product' %}">Add Product</a>
	</div>

{% endblock content %}
