{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Welcome To the Megashop
                </h1>
                <p>Your place to buy yourself a Title</p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                        {% if user.is_authenticated %}
                            <h1>Welcome to the thunderdome</h1>
                            <a href="{% account_logout %}" class="btn btn-warning btn-lg rounded-0 text-uppercase py-3">Sign up</a>
                        {% else %}
                            <a href="{% account_signup %}" class="btn btn-warning btn-lg rounded-0 text-uppercase py-3">Sign up</a>
                        {% endif %}
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}