{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div> 
{% endblock %}

{% block content %}
    <h2>Checkout</h2>
    <form method="POST" id="payment-form">
        {% csrf_token %}
        {{ payment_form.as_p }}
        <button type="submit" class="btn btn-success">Pay Now</button>
        <ul>
            {% for item in bag_items %}
            <li>{{ item.product.name }} - Quantity {{ item.quantity }} Price: {{ item.product.price }} Total: {{ item.total_price }}</li>
            {% endfor %}
        </ul>

        <p>Total Price: £{{ total_price }}</p>
    </form>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}